        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav scrollable-menu"
        data-ng-controller="NavCtrl"
        data-collapse-nav>
         <li>
            <a data-toggle="collapse" data-target="#submenu1" aria-expanded="false" ui-sref="#" class="pointer" title="Master"> 
                <i class=""></i>
                <span class="title" data-i18n="Master"></span> 
            </a>
            <ul>
                
				<li ui-sref="company"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Company"></span></a></li>
				<li ui-sref="contractor"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Contractor"></span></a></li>
                                <li ui-sref="cunsultant"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Consultant"></span></a></li>
                                <li ui-sref="currency"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Currency"></span></a></li>
                                <li ui-sref="department"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Department"></span></a></li>
                                <li ui-sref="designation"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Designation"></span></a></li>
                                <li ui-sref="grade"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Grade"></span></a></li>
				<li ui-sref="holiday"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Holiday"></span></a></li>
                                <li ui-sref="nationality"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Nationality"></span></a></li>
                                <li ui-sref="schedule"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Site"></span></a></li>
                                <li ui-sref="salaryGrade"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Salary Grade"></span></a></li>
                                <li ui-sref="section"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Section"></span></a></li>
                                <li ui-sref="language"><a href="#"><i class="ti-angle-right"></i><span data-i18n="Language"></span></a></li>
	    </ul>
             
        </li>
    
        <!--<li>
            <a ui-sref="schedule" class="pointer" title="Apply for leave">
                <i class="negative-margin"></i>
                <span class="title" data-i18n="Leave"></span>
            </a>
        </li>-->
        
    </ul>
</div>