<br> <div class="page page-grid">
    <div class="panel panel-info contextual-example-panel bootstrap-panel">
        <div class="panel-heading">
           <i class="fa fa-list-alt" aria-hidden="true"></i> Grade Details
            <span class="pull-right" style="margin-top: -4px !important;">
                <button type="button" class="btn btn-primary btn-sm" ng-click="addGrades()" style="background: #1b867b !important;"><i class="fa fa-plus" aria-hidden="true"></i> Add Grade</button>
            </span> 
        </div>
        <div class="panel-body">
            <!-- Panel Body -->
            <center><span  ng-If="pageLoader"><img style="" src="/images/loader/loader-green.gif" height="42" width="42"></span></center>
            <div ng-if="editGradeFlag">
                <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName" class="control-label">Code</label>
                        <input type="text" class="form-control" id="inputFirstName" ng-model="inputParams.Code" placeholder="Code">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">Grade Name</label>
                        <input type="text" class="form-control" id="inputLastName" ng-model="inputParams.Home" placeholder="Grade Name">
                    </div>
                </div>
		<div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">Broad Group</label>
                        <select class="form-control input-sm" ng-model="inputParams.BoardGroup"  name="boardGroupName" ng-options="value.BGroupId as value.BoardGroupName  for value in boardGroupList| orderBy: 'BoardGroupName'" tabindex="3">
                                            <option value="">---Please Select Broad Group---</option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">Date</label>
                        <input type="text" placeholder="Select Date (DD/MM/YYYY)" ng-model="inputParams.startDate"  id="selectDate" class="form-control input-sm" tabindex="5" ng-change="validateDate(inputParams.startDate, inputParams.endDate)" datepicker-config="customConfig" ng-flat-datepicker  size="100" />
                </div>
                </div> -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">Status</label>
                        <select class="form-control input-sm"  name="statusName" ng-options="value.statusName  for value in statusTypesList track by value.statusName" ng-model="inputParams.IsActive" tabindex="4">
                                           
                        </select>
                    </div>
                </div>
                
            </div>
            
            <center>
            <div class="row center-block">
                
                <button type="button" class="btn btn-primary btn-sm" ng-If="updateGradeFlag" ng-click="updateGradeDetails(upadateParams.GradeId)">Update</button>
                <button type="submit" class="btn btn-primary btn-sm" ng-If="!updateGradeFlag" ng-click="saveGradeDetails()">Save</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="cancelGradeForm()">Cancel</button>
            </div>
            </center>   
            </div>
            <div ng-if="!editGradeFlag">
            <table datatable="ng" class="row-border hover table-striped">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Code</th>
                        <th>Grade Name</th>
                        <th>Broad Group</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Action</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="grade in gradeDetails">
                        <td>{{$index+1}}</td>
                        <td>{{grade.Code}}</td>
                        <td>{{grade.Home}}</td>
                        <td>{{grade.BoardGroup}}</td>
                        <td>{{grade.DT}}</td>
                        <td><label ng-If="grade.Status=='Active'" class="label label-success">{{grade.Status}}</label><label ng-If="grade.Status=='DeActive'" class="label label-danger">{{grade.Status}}</label></td>
                        <td>
			<center>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-primary" title="Edit" ng-click="editGradeDetails(grade)"><span class="glyphicon glyphicon-edit"></span></a>
			    <a href="javascript:;" class="btn-icon btn-icon-sm btn-danger" title="Delete" ng-click="deleteGrade(grade.GradeId)"><span class="glyphicon glyphicon-trash"></span></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-warning" title="Change Status" ng-click="changeStatus(grade.GradeId,grade.Status)"><span class="glyphicon glyphicon-signal"></span></a>
                        </center>    
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div> 