<div class="page-signin">
    <form name="changePasswordForm" novalidate>
        <div class="form-horizontal"> 
            <div class="signin-header">
                <section class="logo text-center">
                    <h1> <a>Change Password</a></h1>
                </section>
            </div>
            <div class="signin-body">
                <div class="container">
                    <div class="form-container">
                        <fieldset>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : changePasswordForm.old_password.$invalid && changePasswordForm.old_password.$dirty }" >
                                        <input type="password" name="old_password" required=""
                                            class="form-control input-lg edit-tooltip"
                                            placeholder="Enter old password"
                                            id="oldpwd"
                                            ng-model="user.oldPassword"
                                            ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(){}\[\]]).{8,14})$/"
                                             data-placement="right" 
                                            data-type="info" 
                                            data-container="body"                                              
                                            data-trigger="focus" 
                                            bs-tooltip="tooltip"/>
<!--                                            tooltip="{{changePasswordForm.old_password.$invalid ? 'Incorrect old password' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : changePasswordForm.password.$invalid && changePasswordForm.password.$dirty  }" >
                                        <input type="password" name="password" required=""
                                            class="form-control input-lg edit-tooltip"
                                            placeholder="Enter new password"
                                            id="pwd1"
                                            ng-minlength="6"
                                            ng-model="user.password"
                                            ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(){}\[\]]).{8,14})$/"
                                            data-placement="right" 
                                            data-type="info" 
                                            data-container="body"                                              
                                            data-trigger="focus" 
                                            bs-tooltip="tooltip"/>
<!--                                            tooltip="{{changePasswordForm.password.$invalid ? 'Password should be minimum of 8 characters and maximum of 14,consisting of uppercase alphabet(s), lower alphabet(s), number(s) and special character(s).' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : changePasswordForm.confirm_password.$invalid && changePasswordForm.confirm_password.$dirty}" >
                                        <input  type="password" name="confirm_password"  required=""
                                            class="form-control input-lg edit-tooltip"  
                                            placeholder="Enter same password" 
                                            id="cpwd"
                                            ng-model="confirmPassword"
                                            pw-check="pwd1"
                                            data-placement="right" 
                                            data-type="info" 
                                            data-container="body"                                              
                                            data-trigger="focus" 
                                            bs-tooltip="tooltip"/>
<!--                                            tooltip="{{changePasswordForm.confirm_password.$error.pwmatch ? 'Password do not match.' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="divider divider-lg"></div>
                            <div class="form-group">
                                <button ng-click="Submit(changePasswordForm.$valid)" ng-disabled="!changePasswordForm.$valid" class="btn btn-primary btn-lg btn-block text-center">Set Password</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>