<span us-spinner="{radius:15, width:5, length: 10}" spinner-on="spinOnChangePwdPin"></span>
<div class="page-signin">
    <form name="changePasswordPinForm" novalidate>
        <div class="form-horizontal"> 
            <div class="signin-header">
                <section class="logo text-center">
                    <h1> <a>Change Password/PIN</a></h1>
                </section>
            </div>
            <div class="signin-body">
                <div class="container">
                    <div class="form-container">
                        <fieldset>
                            
                            <div class="form-group text-left">
                                <div class="input-group form-control leftmargin_15">
                                    <div class="checkbox">
                                        <label>
                                            <input class="input-md" type="checkbox" ng-change="openChangePassword()" ng-model="data.isPassword">
                                            Do you want to change password?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <div class="input-group form-control leftmargin_15">
                                    <div class="checkbox">
                                        <label>
                                            <input class="input-md " type="checkbox" ng-change="openChangePin()" ng-model="data.isPin">
                                            Do you want to change PIN?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="data.isPassword">
                                <div class="form-group" >
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="ti-lock"></span>
                                        </span>
                                        <div  ng-class="{ 'has-error' : changePasswordPinForm.old_password.$invalid && changePasswordPinForm.old_password.$dirty }" >
                                            <input type="password" name="old_password" required=""
                                                class="form-control input-lg edit-tooltip" 
                                                placeholder="Enter old password"
                                                id="oldpwd"
                                                ng-model="user.oldPassword"
                                                ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(){}\[\]]).{8,14})$/"
                                                data-placement="right" 
                                            	data-type="info" 
                                            	data-container="body"                                              
                                            	data-trigger="focus" 
                                            	bs-tooltip="tooltip"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="ti-lock"></span>
                                        </span>
                                        <div  ng-class="{ 'has-error' : changePasswordPinForm.newPassword.$invalid && changePasswordPinForm.newPassword.$dirty  }" >
                                            <input type="password" name="newPassword" required=""
                                                class="form-control input-lg edit-tooltip"
                                                placeholder="Enter new password"
                                                id="pwd1"
                                                ng-minlength="6"
                                                ng-model="user.newPassword"
                                                ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(){}\[\]]).{8,14})$/"
						data-placement="right" 
                                            	data-type="info" 
                                            	data-container="body"                                              
                                            	data-trigger="focus" 
                                            	bs-tooltip="tooltip"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="ti-lock"></span>
                                        </span>
                                        <div  ng-class="{ 'has-error' : changePasswordPinForm.confirm_password.$invalid && changePasswordPinForm.confirm_password.$dirty}" >
                                            <input  type="password" name="confirm_password"  required=""
                                                class="form-control input-lg edit-tooltip"  
                                                placeholder="Enter same password" 
                                                id="cpwd"
                                                ng-model="confirmPassword"
                                                ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(){}\[\]]).{8,14})$/"
                                                data-placement="right" 
                                                data-type="info" 
                                                data-container="body"                                              
                                                data-trigger="focus" 
                                                bs-tooltip="tooltip"
                                                pw-check="pwd1"/>
<!--                                                tooltip="{{changePasswordPinForm.confirm_password.$error.pwmatch ? 'Password do not match.' : ''}}" 
                                                tooltip-placement="top"
                                                tooltip-is-open="true"
                                                tooltip-trigger="focus"/>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="data.isPin">
                                <div class="form-group" >
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="ti-key"></span>
                                        </span>
                                        <div  ng-class="{ 'has-error' : changePasswordPinForm.old_pin.$invalid && changePasswordPinForm.old_pin.$dirty }" >
                                            <input type="password" name="old_pin" required=""
                                                class="form-control input-lg edit-tooltip"
                                                placeholder="Enter old pin"                                                
                                                ng-model="user.oldPin"
                                                ng-pattern="/^(0*[1-9]+0*)+$/" ng-minlength="4" ng-maxlength="4"/>
<!--                                                tooltip="{{changePasswordPinForm.old_pin.$invalid ? 'Incorrect old pin' : ''}}" 
                                                tooltip-placement="top"
                                                tooltip-is-open="true"
                                                tooltip-trigger="focus"/>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="ti-key"></span>
                                        </span>
                                        <div ng-class="{ 'has-error' : changePasswordPinForm.pin.$invalid && changePasswordPinForm.pin.$dirty }" >
                                            <input type="password" name="pin" required=""
                                                class="form-control input-lg edit-tooltip"
                                                placeholder="Enter new pin"
                                                id="pin1"
                                                ng-minlength="4"
                                                ng-model="user.newPin"
                                                ng-pattern="/^(0*[1-9]+0*)+$/" ng-minlength="4" maxlength="4"
                                                />
<!--                                                tooltip="{{//changePasswordPinForm.pin.$invalid ? 'Pin should be of 4 digits' : ''}}" 
                                                tooltip-placement="top"
                                                tooltip-is-open="true"
                                                tooltip-trigger="focus"/>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="ti-key"></span>
                                        </span>
                                        <div  ng-class="{ 'has-error' : changePasswordPinForm.confirm_pin.$invalid && changePasswordPinForm.confirm_pin.$dirty}" >
                                            <input  type="password" name="confirm_pin"  required=""
                                                class="form-control input-lg edit-tooltip"  
                                                placeholder="Enter Same PIN"
                                                id="cpwd"
                                                ng-model="confirmPin"
                                                pw-check="pin1"
                                                ng-pattern="/^(0*[1-9]+0*)+$/" 
                                                ng-minlength="4" 
                                                maxlength="4" />
<!--                                                tooltip="{{changePasswordPinForm.confirm_pin.$error.pwmatch ? 'Pin do not match.' : ''}}" 
                                                tooltip-placement="top"
                                                tooltip-is-open="true"
                                                tooltip-trigger="focus"/>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider divider-lg"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button ng-click="goBack()"  class="btn btn-primary btn-lg btn-block text-center"> Back </button>
                                </div>
                                <div class="col-sm-6 ">
                            <div class="form-group">
                                <button ng-click="Submit(!changePasswordPinForm.$invalid)" ng-disabled="changePasswordPinForm.$invalid" class="btn btn-primary btn-lg btn-block text-center">Set Password/PIN</button>                                
                            </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>