<div class="page-signin">
    <form name="forgotPinPasswordForm" novalidate>
        <div class="form-horizontal"> 
            <div class="signin-header">
                <section class="logo text-center">
                    <h1> <a>Reset Password/PIN </a></h1>
                </section>
            </div>
            <div class="signin-body">
                <div class="container">
                    <div class="form-container">
                        <fieldset>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPinPasswordForm.received_password.$invalid && forgotPinPasswordForm.received_password.$dirty }" >
                                        <input type="password" name="received_password" required=""
                                            class="form-control input-lg edit-tooltip"
                                            placeholder="Enter received password"
                                            id="oldpwd"
                                            ng-model="forgotPinPassword.oldPassword"/>
<!--                                            tooltip="{{forgotPinPasswordForm.received_password.$invalid ? 'Incorrect received password' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPinPasswordForm.new_password.$invalid && forgotPinPasswordForm.new_password.$dirty  }" >
                                        <input type="password" name="new_password" required=""
                                            class="form-control input-lg edit-tooltip"
                                            placeholder="Enter new password"
                                            id="pwd1"
                                            ng-minlength="6"
                                            ng-model="forgotPinPassword.newPassword"
                                            ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(){}\[\]]).{8,14})$/"
                                            data-placement="right" 
                                            data-type="info" 
                                            data-container="body"                                              
                                            data-trigger="focus" 
                                            bs-tooltip="tooltip"/>
<!--                                            tooltip="{{forgotPinPasswordForm.new_password.$invalid ? 'Password should be minimum of 8 characters and maximum of 14,consisting of uppercase alphabet(s), lower alphabet(s), number(s) and special character(s).' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                        <!--<p class="" ng-show="forgotPinPasswordForm.new_password.$error.pattern"> Password </p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPinPasswordForm.confirm_password.$invalid && forgotPinPasswordForm.confirm_password.$dirty}" >
                                        <input  type="password" name="confirm_password"  required=""
                                            class="form-control input-lg edit-tooltip"  
                                            placeholder="Enter same password" 
                                            id="cpwd"
                                            ng-model="confirm_password"
                                            ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(){}\[\]]).{8,14})$/"     
                                            data-placement="right" 
                                            data-type="info" 
                                            data-container="body"                                              
                                            data-trigger="focus" 
                                            bs-tooltip="tooltip"
                                            pw-check="pwd1"/>
<!--                                            tooltip="{{forgotPinPasswordForm.confirm_password.$error.pwmatch ? 'Password do not match.' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-key"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPinPasswordForm.received_pin.$invalid && forgotPinPasswordForm.received_pin.$dirty }" >
                                        <input type="password" name="received_pin" required=""
                                            class="form-control input-lg edit-tooltip"
                                            placeholder="Enter received pin"
                                            id="oldpin"
                                            ng-model="forgotPinPassword.oldPin"
                                            ng-pattern="/^(0*[1-9]+0*)+$/" 
                                            ng-minlength="4" 
                                            maxlength="4"/>
<!--                                            tooltip="{{forgotPinPasswordForm.received_pin.$invalid ? 'Incorrect received pin' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-key"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPinPasswordForm.new_pin.$invalid && forgotPinPasswordForm.new_pin.$dirty  }" >
                                        <input type="password" name="new_pin" required=""
                                            class="form-control input-lg edit-tooltip"
                                            placeholder="Enter new pin"
                                            id="pin1"
                                            ng-maxlength="4"
                                            ng-model="forgotPinPassword.newPin"
                                            ng-pattern="/^(0*[1-9]+0*)+$/" 
                                            ng-minlength="4" 
                                            maxlength="4"/>
<!--                                            tooltip="{{forgotPinPasswordForm.new_pin.$invalid ? 'Pin should be set of 4 numbers and all can not be 0' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-key"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPinPasswordForm.confirm_pin.$invalid && forgotPinPasswordForm.confirm_pin.$dirty}" >
                                        <input  type="password" name="confirm_pin"  required=""
                                            class="form-control input-lg edit-tooltip"  
                                            placeholder="Enter same pin" 
                                            id="cpin"
                                            ng-model="confirm_pin"
                                            pw-check="pin1"
                                            ng-pattern="/^(0*[1-9]+0*)+$/" 
                                            ng-minlength="4" 
                                            maxlength="4"/>
<!--                                            tooltip="{{forgotPinPasswordForm.confirm_pin.$error.pwmatch ? 'Pin do not match.' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="divider divider-lg"></div>
                            <div class="form-group">
                                <button ng-click="Submit(forgotPinPasswordForm.$valid)" ng-disabled="!forgotPinPasswordForm.$valid" class="btn btn-primary btn-lg btn-block text-center">Reset Password/PIN </button>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>