<div class="page-signin">
    <form name="forgotPasswordForm" novalidate>
        <div class="form-horizontal"> 
            <div class="signin-header">
                <section class="logo text-center">
                    <h1> <a>Reset Password</a></h1>
                </section>
            </div>
            <div class="signin-body">
                <div class="container">
                    <div class="form-container">
                        <fieldset>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPasswordForm.received_password.$invalid && forgotPasswordForm.received_password.$dirty }" >
                                        <input type="password" name="received_password" required=""
                                            class="form-control input-lg edit-tooltip"
                                            placeholder="Enter received password"
                                            id="oldpwd"
                                            ng-model="forgotPassword.oldPassword"
                                            data-placement="right" 
                                            data-type="info" 
                                            data-container="body"                                              
                                            data-trigger="focus" 
                                            bs-tooltip="tooltip"/>
<!--                                            tooltip="{{forgotPasswordForm.received_password.$invalid ? 'Incorrect received password' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPasswordForm.new_password.$invalid && forgotPasswordForm.new_password.$dirty  }" >
                                        <input type="password" name="new_password" required=""
                                            class="form-control input-lg edit-tooltip"
                                            placeholder="Enter new password"
                                            id="pwd1"
                                            ng-minlength="6"
                                            ng-model="forgotPassword.newPassword"
                                            ng-pattern="/^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*(){}\[\]]).{8,14})$/"
                                            data-placement="right" 
                                            data-type="info" 
                                            data-container="body"                                              
                                            data-trigger="focus" 
                                            bs-tooltip="tooltip"/>
<!--                                            tooltip="{{forgotPasswordForm.new_password.$invalid ? 'Password should be minimum of 8 characters and maximum of 14,consisting of uppercase alphabet(s), lower alphabet(s), number(s) and special character(s).' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="ti-lock"></span>
                                    </span>
                                    <div  ng-class="{ 'has-error' : forgotPasswordForm.confirm_password.$invalid && forgotPasswordForm.confirm_password.$dirty}" >
                                        <input  type="password" name="confirm_password"  required=""
                                            class="form-control input-lg edit-tooltip"  
                                            placeholder="Enter same password" 
                                            id="cpwd"
                                            ng-model="confirm_password"
                                            pw-check="pwd1"
                                            data-placement="right" 
                                            data-type="info" 
                                            data-container="body"                                              
                                            data-trigger="focus" 
                                            bs-tooltip="tooltip"/>
<!--                                            tooltip="{{forgotPasswordForm.confirm_password.$error.pwmatch ? 'Password do not match.' : ''}}" 
                                            tooltip-placement="top"
                                            tooltip-is-open="true"
                                            tooltip-trigger="focus"/>-->
                                    </div>
                                </div>
                            </div>
                            <div class="divider divider-lg"></div>
                            <div class="form-group">
                                <button ng-click="Submit(forgotPasswordForm.$valid)" ng-disabled="!forgotPasswordForm.$valid" class="btn btn-primary btn-lg btn-block text-center">Reset Password</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>