<span us-spinner="{radius:15, width:5, length: 10}" spinner-on="spinOnResetPwd"></span>
<div class="page-forgot">
    <div class="signin-header">
        <section class="logo text-center">
            <h1><a>Forgot Password</a></h1>
        </section>
    </div>
    <div class="signin-body">
        <div class="container">
            <div class="form-container" style="width: 540px; margin: 0 auto;border-radius: 5px;background: rgba(0,0,0,.55);color: #fff;padding: 32px;">
                <div class="additional-info text-center">
                    <p class="text-medium textcolor">Enter your email address that you used while registration.
                        You will receive a mail with your username and a link to reset your password.
                    </p>
                </div>
                <div class="form-container text-center">
                    <form class="form-horizontal" name="forgotPasswordForm" autocomplete="off">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <div  ng-class="{'has-error' :forgotPasswordForm.email_id.$invalid }">
                                    <input type="email" name="email_id" required=""
                                           class="form-control input-lg edit-tooltip"
                                           placeholder="Enter email address"
                                           id="email"
                                           ng-model="data.emailId" ng-blur="checkUserExistance(data.emailId)"/>
<!--                                           tooltip="{{forgotPasswordForm.email_id.$invalid ? 'Incorrect email address' : ''}}" 
                                           tooltip-placement="top"
                                           tooltip-is-open="true"
                                           tooltip-trigger="focus"/>-->
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="divider divider-lg"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a ng-click="goBack()"  class="btn btn-primary btn-lg btn-block text-center"> Cancel </a>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <a class="btn btn-lg btn-block btn-primary"  ng-click="reset(forgotPasswordForm.$valid)">Send Email</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>