<br> <div class="page page-grid">
    <div class="panel panel-info contextual-example-panel bootstrap-panel">
        <div class="panel-heading">
           <i class="fa fa-list-alt" aria-hidden="true"></i> Holiday Details
            <span class="pull-right" style="margin-top: -4px !important;">
                <button type="button" class="btn btn-primary btn-sm" ng-click="addHolidays()" style="background: #1b867b !important;"><i class="fa fa-plus" aria-hidden="true"></i> Add Holiday</button>
            </span> 
        </div>
        <div class="panel-body">
            <!-- Panel Body -->
            <center><span  ng-If="pageLoader"><img style="" src="/images/loader/loader-green.gif" height="42" width="42"></span></center>
            <div ng-if="editHolidayFlag">
                <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">Holiday Name</label>
                        <input type="text" class="form-control" id="inputLastName" ng-model="inputParams.HolidayName" placeholder="Holiday Name">
                    </div>
                </div>
                    <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">Date</label>
                        <input type="text" placeholder="Select Date (YYYY/MM/DD)" ng-model="inputParams.HolidayDate"  id="selectDate" class="form-control input-sm"   datepicker-config="customConfig" ng-flat-datepicker  size="100" />
                    </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="control-label">Status</label>
                        <select class="form-control input-sm" ng-model="inputParams.IsActive"  name="statusName" ng-options="value.statusName  for value in statusTypesList">
                        </select>
                    </div>
                </div>   
                </div>
            
            <center>
            <div class="row center-block">
                
                <button type="button" class="btn btn-primary btn-sm" ng-If="updateHolidayFlag" ng-click="updateHolidayDetails(upadateParams.HolidayId)">Update</button>
                <button type="submit" class="btn btn-primary btn-sm" ng-If="!updateHolidayFlag" ng-click="saveHolidayDetails()">Save</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="cancelHolidayForm()">Cancel</button>
            </div>
            </center>   
            </div>
            <div ng-if="!editHolidayFlag">
            <table datatable="ng" class="row-border hover table-striped">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Holiday Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="holiday in holidayDetails">
                        <td>{{$index+1}}</td>
                        <td>{{holiday.Name}}</td>
                        <td>{{holiday.HoliDt}}</td>
                        <td><label ng-If="holiday.HoliDayStatus=='Active'" class="label label-success">{{holiday.HoliDayStatus}}</label><label ng-If="holiday.HoliDayStatus=='DeActive'" class="label label-danger">{{holiday.HoliDayStatus}}</label></td>
                        <td>
			<center>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-primary" title="Edit" ng-click="editHolidayDetails(holiday)"><span class="glyphicon glyphicon-edit"></span></a>
			    <a href="javascript:;" class="btn-icon btn-icon-sm btn-danger" title="Delete" ng-click="deleteHoliday(holiday.holidayId)"><span class="glyphicon glyphicon-trash"></span></a>
                            <a href="javascript:;" class="btn-icon btn-icon-sm btn-warning" title="Change Status" ng-click="changeStatus(holiday.holidayId,holiday.Status)"><span class="glyphicon glyphicon-signal"></span></a>
                        </center>    
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div> 