<div>    
    <span us-spinner="{radius:15, width:5, length: 10}" spinner-on="showSpinner"></span>
    <div class="page page-grid">
        <div class="panel panel-default table-dynamic">
            <div class="panel-heading">
                <strong>Average Time to Broken Out By Technologist Report</strong>  
            </div>
            <div class="panel-body">
            <br/>
                <div class="panel-body">
                    <div class="panel-heading">
                        <strong class="icon_color">
                            <span class="glyphicon glyphicon-th">
                            </span> 
                            Parameters
                        </strong> 
                        <span class="pull-right">
                            <a ui-sref="dashboard" class="headerlink icon_color" style="cursor: pointer">
                                <span class="glyphicon glyphicon-arrow-left"></span> 
                                 <span data-i18n="Back To Dashboard"></span> 
                            </a>
                        </span>
                    </div>
                    <div class="">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">  
                                    <div class="form-group">
                                        <label  class="col-md-4 control-label">Start Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group ui-datepicker " >
                                                <input tabindex="1" type="text" 
                                                    class="form-control input-sm"
                                                    datepicker-popup="{{format}}"
                                                    ng-model="advanced.startDate"
                                                    is-open="openedsd"
                                                    max-date="today"
                                                    datepicker-options="dateOptions" 
                                                    close-text="Close"
                                                    name="startDate"
                                                    placeholder="mm/dd/yyyy"
                                                    ng-readonly="readStatus">
                                                <span class="input-group-addon" ng-click="opensd($event)"><i class="ti-calendar"> </i> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">  
                                    <div class="form-group">
                                        <label  class="col-md-4 control-label">End Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group ui-datepicker " >
                                                <input tabindex="2" type="text" 
                                                    class="form-control input-sm"
                                                    datepicker-popup="{{format}}"
                                                    ng-model="advanced.endDate"
                                                    is-open="openeded"
                                                    max-date="today"
                                                    datepicker-options="dateOptions" 
                                                    close-text="Close"
                                                    name="endDate"
                                                    placeholder="mm/dd/yyyy"
                                                    ng-readonly="readStatus">
                                                <span class="input-group-addon" ng-click="opened($event)"><i class="ti-calendar"> </i> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label  class="col-md-4 control-label">Technologist</label>
                                        <div class="col-md-8">
                                            <input tabindex="3" type="text" class="form-control input-sm" name="technologist"  placeholder="Enter technologist" ng-readonly="readStatus" ng-model="advanced.technologist">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button  class="btn btn-w-md btn-gap-v btn-round btn-success" ng-hide="readStatus"><span class="glyphicon glyphicon-ok"></span> &nbsp; Search </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body topmargin">
                    <div class="panel-heading">
                        <strong class="icon_color">
                            <span class="glyphicon glyphicon-th">
                            </span> 
                            Result
                        </strong> 
                    </div>
                    <div class="">
                        <div class="form-horizontal">
                            <div class="table-responsive topmargin">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="auto-column-width" data-ng-click="order(ascendingOrder ? 'facilityNpi' : '-facilityNpi')" style="cursor: pointer">
                                                <div class="th">
                                                    Column1
                                                    <span class="fa fa-angle-up" data-ng-show="row === 'facilityNpi'"></span>
                                                    <span class="fa fa-angle-down" data-ng-show="row === '-facilityNpi'"></span>
                                                </div>
                                            </th>
                                            <th class="auto-column-width" data-ng-click="order(ascendingOrder ? 'serviceLandLine1' : '-serviceLandLine1')" style="cursor: pointer">
                                                <div class="th">
                                                    Column2
                                                    <span class="fa fa-angle-up" data-ng-show="row === 'serviceLandLine1'"></span>
                                                    <span class="fa fa-angle-down" data-ng-show="row === '-serviceLandLine1'"></span>
                                                </div>
                                            </th>
                                            <th class="auto-column-width" data-ng-click="order(ascendingOrder ? 'serviceEmailId' : '-serviceEmailId')" style="cursor: pointer">
                                                <div class="th">
                                                    Column3
                                                    <span class="fa fa-angle-up" data-ng-show="row === 'serviceEmailId'"></span>
                                                    <span class="fa fa-angle-down" data-ng-show="row === '-serviceEmailId'"></span>
                                                </div>
                                            </th>
                                            <th class="col-md-1">   
                                                <div class="th">
                                                    Action
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>